@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');





body {
  line-height: 1.8;
  color: #898fa1;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11245A;
}

.title-sm {
  font-size: 16px;
  letter-spacing: 1px;
}

a{
  font-weight: 700;
  transition: all 0.04s ease;
}

small {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navabr .nav-link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 12px 20px rgba(0,0,0,0.1);
}


.navabr .nav-link.active {
  color: #E93BB1;;
}


.logo {
  width: 50px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #E93B81;
}


#home {
  background: linear-gradient(rgba(76, 53, 117,0.3),rgba(91, 75, 138,0.3)),url(../img/image-1.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}


#home h1 {
  font-weight: 700
}

#home p {
  max-width: 550px;
  margin: 18px auto;
}


.btn {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 100px;
}

.btn-brand {
  background-color: #E93BB1;
  color: white;
  transition: all 0.8s ease;
}

.btn-brand:hover {
  color: #FFF323;
  transform: translateY(-5px);
}

.section-intro {
  text-align: center;
  margin-bottom: 60px;
}

.section-intro .hline {
   width: 120px;
   height: 2px;
   background-color:#8C0000;
   margin: 16px auto 0 auto;
}


.icon-box {
  width: 60px;
  height: 60px;
  background-color: #9852F9;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  flex: none;
}

#icons {
  margin:auto;
}

#heading-h1 {
  text-align: center;
}

.para-service {
  text-align: center;
}

.box {
   transition: all 0.8s ease;         
}



.box:hover {
  box-shadow: 0px 12px 20px rgba(0,0,0,0.1);
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

.portfolio-item img,
.portfolio-item .portfolio-overlay {
  transition: all 0.8s ease;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 20, 39,0.8);
  display: flex;
  align-items:flex-end;
  padding: 30px;
  opacity: 0;
}

.portfolio-overlay h3,
.portfolio-overlay h6 {
  color: white;
}


.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}


.hobbies .icon-box {
width: 34px;
height: 34px;
border-radius: 100px;
font-size: 24px;
}

.motivation-img {
  border-radius: 25px;
}


.form-left-side {
  background-color: #8E806A;

}


.icon {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.form-right-side {
  background-color: #fff;

}

 .button {
  background-color: #FFAFAF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
 }


footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social-icon li {
  list-style: none;
}

footer .social-icon li a  {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(10px);
}


footer p {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
























